/*-------------------------------------------*/

body {
    background-color: #3535b6;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*--------------------HEADER-----------------------*/

header {
  width: 95%;
  height: auto;
  margin-top: 2px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5em;
}

header p {
  text-align: center;
  font-family: 'Julius Sans One';font-size: 40px;
  color: white;
}

/*-------------------CORPO------------------------*/

#corpo-principal {
    width: 95%;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #fff;
    border-radius: 0.5em;
}

#barra-lateral{
  width:35%;
  float:left;
}

#welcome {
  width: 95%;
  margin: auto;
}

#welcome p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  text-align: justify;
  text-justify: inter-word;
}


#cabecalho-login h2, #cabecalho-enviar-mensagem h2{
  text-align: center;
  color: #3535b6;
  font-size: 20px;
  margin-bottom: 2px;
}

#formulario-login {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

#formulario-login #usuario, #formulario-login #senha {
  width: 40%;
  margin: auto;
}

#confirma-login {
  background-color: #3535b6;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
}

#formulario-login input {
  width: 45%;
}

#formulario-envio-mensagem {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

#formulario-envio-mensagem input {
  width: 100%;
}

#formulario-envio-mensagem textarea {
  width: 99%;
}

#titulo, #mensagem, #autor {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#titulo {
  margin-bottom: 10px;
}

#mensagem {
  margin-bottom: 6px;
}

#autor {
  margin-bottom: 5px;
}

#botao-envio {
  background-color: #3535b6;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;  
  position: relative;
  margin: auto auto auto 35%;
}

#botao-envio:hover {
  background-color: white;
  color: #3535b6;
  border: 2px solid #3535b6;
}


/**/

#opcoes {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}


#campo-mensagens {
  width:64%;
  height: 95%;
  float: right;
  border-left: 1px solid #666;
  position: relative;
}

#caixa-mensagens {
  width: 90%;
  height: 80%;;
  margin: auto;
  overflow: auto;
  border: 1px solid #666;
}

#cartao-mensagem {
  background:#8081dd;
  margin: 10px;
  padding:5px;

  -moz-border-radius:7px;
  -webkit-border-radius:7px;
  border-radius:7px;
}

#cartao-mensagem h4 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
  text-transform: capitalize;
  text-decoration: underline;
  text-align: center;
  color: white;
}

#cartao-mensagem h5 {
  font-family: cursive;
  font-size: 18px;
  color: white;
  text-align: center;
}

#cartao-mensagem small {
  font-family: cursive;
  color: rgb(46, 45, 45);
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

#botao-apaga-mensagem {
  text-decoration: none;
  background: aqua;
  padding: 10px;
}

/*---------------------FOOTER----------------------*/

footer {
  width: 95%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5em;
  display: block;
}

#corpo-principal p {
  text-align: center;
}

footer p {
  text-align: center;
}

footer a {
  text-decoration: none;
}

footer div {
  color: #bbb;
  font-size: bolder;
  margin: 1em;
  padding: 0 1rem;
  text-align: center;

}