#header {
  background: grey;
  width: 99%;
}

/*===========================================*/
#header-content {
  text-align: center;
  background: grey;
}

#header-content h1 {
  color: white;
  text-align: center;
  font-family: 'Arial', regular;
}
/*===========================================*/
/*===========================================*/
#barra-lateral{
  width:35%;
  float:left;
}

#welcome {
  width: 95%;
}

#welcome p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  text-justify: inter-word;
}

#login-header {
  width: 25%;
  margin: auto
}

#content-login {
  width: 50%;
  margin: auto
}

#content-barra-lateral{
  width:95%;
}

#content-barra-lateral h2 {
  font-family: "Arial";
  color: white;
  margin: auto;
}

#send-message {
  background: grey;
  font-family: "Arial";
  padding: 10px;

  -moz-border-radius:7px;
  -webkit-border-radius:7px;
  border-radius:7px;
}

#form-message, #form-busca {
  background: #cecccc;
  padding: 2px;
  border: 10px;
  margin-bottom: 10px;  
  -moz-border-radius:7px;
  -webkit-border-radius:7px;
  border-radius:7px;
}

#form-message input , #form-busca input {
  width: 85%;
  margin: 10px;
}

#form-message textarea {
  width: 85%;
  height: 50px;
  margin: 10px;
}

#form-message button, #form-busca button {
  margin: 10px;
}

#content-suas-mensagens {
  padding: 2px;
  border: 10px;
  margin-bottom: 15px;
}

/*===========================================*/
/*===========================================*/
#espaco-mensagens {
  width:64%;
  height: 550px;
  float:left;
  border-left: 1px solid #666;
  position: relative;
}

#box-mensagens {
  width: 97%;
  float: right;
  height: 100%;
  overflow: auto;
}

#navbar {
  background: grey;
  font-family: "Arial";
  margin: auto;
  padding: 10px;
  width: 95%;

  -moz-border-radius:7px;
  -webkit-border-radius:7px;
  border-radius:7px;
}

#navbar nav {
  width: 75%;
  margin: auto;
}

#navbar button {
  background: grey;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 20px;
  color: rgb(253, 253, 253);
  border: none;
  cursor: pointer;
}

#header-mensagens h2 {
  margin: auto;
  color: white;
}

#msg-content-div {
  background:#cecccc;
  margin: 10px;
  padding:5px;

  -moz-border-radius:7px;
  -webkit-border-radius:7px;
  border-radius:7px;
}


/*===========================================*/

.grid-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}